USE [master]
GO
/****** Object:  Database [Ingresos_Hospital]    Script Date: 4/27/2019 11:59:13 AM ******/
CREATE DATABASE [Ingresos_Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ingresos_Hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Ingresos_Hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ingresos_Hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Ingresos_Hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ingresos_Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ingresos_Hospital]
GO
/****** Object:  Schema [usarioexterno]    Script Date: 4/27/2019 11:59:14 AM ******/
CREATE SCHEMA [usarioexterno]
GO
/****** Object:  Table [dbo].[T_Paciente]    Script Date: 4/27/2019 11:59:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Paciente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NULL,
 CONSTRAINT [PK_T_Paciente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Ingresos]    Script Date: 4/27/2019 11:59:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Ingresos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Habitacion] [varchar](50) NULL,
	[ID_Paciente] [int] NOT NULL,
	[ID_Medico] [int] NOT NULL,
 CONSTRAINT [PK_T_Ingresos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Pacientes_Con_Ingresos]    Script Date: 4/27/2019 11:59:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Pacientes_Con_Ingresos]
AS
SELECT        Ingresos.Fecha, Pacientes.ID, Pacientes.Nombre, Pacientes.Apellidos
FROM            dbo.T_Ingresos AS Ingresos LEFT OUTER JOIN
                         dbo.T_Paciente AS Pacientes ON Ingresos.ID_Paciente = Pacientes.ID
GO
/****** Object:  Table [dbo].[T_Medico]    Script Date: 4/27/2019 11:59:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Medico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NULL,
 CONSTRAINT [PK_T_Medico] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_Ingresos_Medicos_Pacientes]    Script Date: 4/27/2019 11:59:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_Ingresos_Medicos_Pacientes]
AS
SELECT        Ingresos.Fecha AS 'Fecha de Ingreso', Medicos.Nombre AS 'Nombre del Medico', Pacientes.Nombre AS 'Nombre del Paciente'
FROM            dbo.T_Medico AS Medicos RIGHT OUTER JOIN
                         dbo.T_Ingresos AS Ingresos ON Medicos.ID = Ingresos.ID_Medico LEFT OUTER JOIN
                         dbo.T_Paciente AS Pacientes ON Ingresos.ID_Paciente = Pacientes.ID
GO
SET IDENTITY_INSERT [dbo].[T_Ingresos] ON 

INSERT [dbo].[T_Ingresos] ([ID], [Fecha], [Habitacion], [ID_Paciente], [ID_Medico]) VALUES (7, CAST(N'2019-03-30T00:00:00.000' AS DateTime), NULL, 1, 1)
INSERT [dbo].[T_Ingresos] ([ID], [Fecha], [Habitacion], [ID_Paciente], [ID_Medico]) VALUES (8, CAST(N'2019-03-31T00:00:00.000' AS DateTime), N'4D', 2, 1)
INSERT [dbo].[T_Ingresos] ([ID], [Fecha], [Habitacion], [ID_Paciente], [ID_Medico]) VALUES (9, CAST(N'2019-03-30T00:00:00.000' AS DateTime), N'4C', 2, 2)
SET IDENTITY_INSERT [dbo].[T_Ingresos] OFF
SET IDENTITY_INSERT [dbo].[T_Medico] ON 

INSERT [dbo].[T_Medico] ([ID], [Nombre], [Apellidos]) VALUES (1, N'Mali', N'Kutumbu')
INSERT [dbo].[T_Medico] ([ID], [Nombre], [Apellidos]) VALUES (2, N'Francisco', N'Lopez Garza')
INSERT [dbo].[T_Medico] ([ID], [Nombre], [Apellidos]) VALUES (3, N'Pedro', N'Garcia')
SET IDENTITY_INSERT [dbo].[T_Medico] OFF
SET IDENTITY_INSERT [dbo].[T_Paciente] ON 

INSERT [dbo].[T_Paciente] ([ID], [Nombre], [Apellidos]) VALUES (1, N'Pedro', N'Lopez')
INSERT [dbo].[T_Paciente] ([ID], [Nombre], [Apellidos]) VALUES (2, N'Sergio', N'Prueba')
INSERT [dbo].[T_Paciente] ([ID], [Nombre], [Apellidos]) VALUES (3, N'Eugenio', N'Parra')
SET IDENTITY_INSERT [dbo].[T_Paciente] OFF
ALTER TABLE [dbo].[T_Ingresos]  WITH CHECK ADD  CONSTRAINT [FK_T_Ingresos_T_Medico] FOREIGN KEY([ID_Medico])
REFERENCES [dbo].[T_Medico] ([ID])
GO
ALTER TABLE [dbo].[T_Ingresos] CHECK CONSTRAINT [FK_T_Ingresos_T_Medico]
GO
ALTER TABLE [dbo].[T_Ingresos]  WITH CHECK ADD  CONSTRAINT [FK_T_Ingresos_T_Paciente] FOREIGN KEY([ID_Paciente])
REFERENCES [dbo].[T_Paciente] ([ID])
GO
ALTER TABLE [dbo].[T_Ingresos] CHECK CONSTRAINT [FK_T_Ingresos_T_Paciente]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ingresos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Pacientes"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Pacientes_Con_Ingresos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Pacientes_Con_Ingresos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Medicos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Ingresos"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Pacientes"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 119
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Ingresos_Medicos_Pacientes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_Ingresos_Medicos_Pacientes'
GO
USE [master]
GO
